*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}

.wrapper{
    max-inline-size: 1000px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100vh;
    gap: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.header-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    cursor: pointer;
    
}


.header-nav a{
    color: #484D55;
    text-decoration: none; 
       
}

.header-nav a:hover,
.header-nav a:focus-visible {
  color: #087A98;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
 

.colored-text{
    color:#087A98;
}

h1 {
    color: #484D55;
    text-align: center;
    font-size: 7.5rem;
    line-height: 1.1;
}

h2{
    color: #CB731C;
    font-size: 2.75rem;
}

h3{
    font-size: 1.5rem;
}

.climbing-wiki{
    color: #2B930B;
}

.bouldering-image{
    max-inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    display: block;
}


.two-column-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
}

.paragraph-style{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.paragraph-style a:hover,
.paragraph-style a:focus-visible{
    color: #087A98;
}


.colored-section{
    background-color: #087A98;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    border: 5px solid #0b4a5a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.background-div{
    background-image: url(./images/simple-steps.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
    padding: 2.5rem;
    border: 5px solid #6E84CF;
}

ol, ul{
    list-style: inside;
}

ol {
  list-style-type: decimal; 
}

footer{

    background-color: #087A98;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border: 5px solid #0b4a5a;
}


@media (width < 700px) {
    h1{
        font-size: 4.5rem;
    }

    .two-column-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   }

}